<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Movie tunes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name="org.dhbw.se.movietunes.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name="org.dhbw.se.movietunes.SearchResultActivity"
            android:parentActivityName="org.dhbw.se.movietunes.MainActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.se.movietunes.MainActivity" />
        </activity>
        <activity
            android:name="org.dhbw.se.movietunes.MovieSearchResultActivity"
            android:parentActivityName="org.dhbw.se.movietunes.MainActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.se.movietunes.MainActivity" />
        </activity>
        <activity
            android:name="org.dhbw.se.movietunes.SearchResultActivity"
            android:parentActivityName="org.dhbw.se.movietunes.MainActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.se.movietunes.MainActivity" />
        </activity>
        <activity
            android:name="org.dhbw.se.movietunes.LookUpSoundtrackActivity"
            android:parentActivityName="org.dhbw.se.movietunes.MainActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.se.movietunes.MainActivity" />
        </activity>
        <activity
            android:name="org.dhbw.se.movietunes.LookUpMoviesActivity"
            android:parentActivityName="org.dhbw.se.movietunes.SearchResultActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.se.movietunes.SearchResultActivity" />
        </activity>


        <activity
            android:name="org.dhbw.se.movietunes.SimilarSongsActivity"
            android:parentActivityName="org.dhbw.se.movietunes.SearchResultActivity"
            tools:ignore="DuplicateActivity"
            android:theme="@style/movieTunes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.dhbw.se.movietunes.SearchResultActivity" />
        </activity>
    </application>

</manifest>